@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* background: #faf8ff; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* global.css */
body {
  @apply bg-[#ffffff] text-[#303036];
  font-family: "Tinos", system-ui;
}

.dark body {
  @apply bg-[#131313] text-[#ffffff];
}


/* span.swiper-pagination-bullet{
  width: 15px;
  height: 15px;
} */
span.swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid #ffffff;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #ffffff;
  transition: 0.3s ease-in-out;
}

.glass-dark-bg {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 16px;
}

.glass-light-bg {
  background: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 16px;
}

.glass-dark, .glass-light {
  position: relative;
  overflow: hidden;
}
