@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background: #faf8ff; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* global.css */
body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-black text-white;
}


/* span.swiper-pagination-bullet{
  width: 15px;
  height: 15px;
} */
span.swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid #ffffff;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #ffffff;
  transition: 0.3s ease-in-out;
}